apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-hub
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-hub
  template:
    metadata:
      labels:
        app: notification-hub
    spec:
      containers:
        - name: notification-hub
          image: lectures-on-tap-hub:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4000
          env:
            - name: PHX_SERVER
              value: "true"
            - name: PORT
              value: "4000"
            - name: PHX_HOST
              value: "lectures.gordon-pn.com"
          envFrom:
            - secretRef:
                name: notification-hub-secrets
          readinessProbe:
            httpGet:
              path: /healthz
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 4000
            initialDelaySeconds: 15
            periodSeconds: 20
